#logo {
    width: 60px;
    height: 60px;
    margin-top: -19px;
}

.main {
    /*background: #f8f8f8;*/
    width: 730px;
    margin: 0 auto;
    overflow: hidden;
    padding: 10px;
    background: #ffffff;
}
p{ word-wrap:break-word; word-break:normal; }

/*body {*/
    /*background-color: #f3f3f3;*/
/*}*/

nav {
    height: 55px;
}

ul {
    margin-top: -5px;
    list-style: none;
}

.page-title{
    text-align: center;
}

.left-navigator {
    position: absolute;
    left: 20px;
    top: 70px;
    width: 380px;
    text-align: center;
    font-size: 18px;
    background-color: white;
    margin-top: -15px;
    margin-left: -15px;
}

.inner-item {
    position: absolute;
    left: 35px;
    margin-top: 10px;
    width: 345px;
}

.left-item {
    text-align: left;
}

body {
    background-color: #f3f3f3;
}

#myCarousel {
    position: relative;
    width: 800px;
    height: 600px;
    left: 400px;
    top: -900px;
}
