#logo {
    width: 60px;
    height: 60px;
    margin-top: -19px;
}

.main {
    background: #ffffff;
    width: 730px;
    margin: 0 auto;
    overflow: hidden;
    padding: 10px;
}

body {
    background-color: #f3f3f3;
}

nav {
    height: 55px;
}

ul {
    margin-top: -5px;
}



.page-title{
    text-align: center;
}
